/*General Setup */
html{
	background: url("../Images/Background picture-final.png"), #CCE5FF;
	background-attachment: fixed;
	font-size: 10
}
body{
	width: 60%;
	margin: 0 auto;
}
img{
	max-width: 100%;
}
/*Typography */
h1{
	color: #9d312e;
	font-family: "Lucida Handwriting", cursive;
	text-align: center;
	font-size: 3rem;
	padding: 3rem;
	background-color: #fefff4;
	border: thick double #9d312e;
	margin-bottom: 0.5rem
}
.big_sub_header{
	font-family: "Courier New", serif;
	text-decoration: underline;
}
h2.big_sub_header{
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5rem;
		font-size:1.8rem;
	border-bottom: solid black;
		
}
main p:first-of-type{
	line-height:1.7rem;
	font-size: 1.1rem;
	font-style: italic;
	margin-bottom: 0;
}
main ul, ol{
	line-height: 1.4rem;
}
#small_sub_header{
	font-family: "Courier New", serif;
	font-weight: bold;
	text-decoration: underline;
	color: black;
	font-size: 1.2em;
}
	
/* Header Layout */
nav{
	display:flex;
	justify-content: space-between;
}
.searchHolder{
	background: #9d312e;
	display: flex;
	padding: 10px;
	align-items: center;
	height: min-content;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.14);
}
.main-nav{
	list-style-type: none;
	margin-top: 0
}
.main-nav li{
	color: white;
	font-size: 1.3rem;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.14);	
}

#searchbar{
	background: #9d312e;
	color: white;
	height: min-content;
	font-size: 1.3rem;
}
#search{
	margin-left: 5px;
	height: min-content;
}
.main-nav a{
	color: white;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	text-align: center;
	background: #9d312e;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;	
	}
	
.main-nav a:hover{
	background-color: #591816;		
	}

/* Main Layout */
main {
	background: #fefff4;
	padding: 5% 10%;
	margin: 40px auto;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.14);
	width: 60%;
}
main p{
	line-height: 1.7rem;
	font-size:1.1rem;
	padding-bottom: 1.5rem;
}

.intro{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
	border-left: black solid 1px;
	max-width:600px;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.14);
}
.food_pic{
	grid-column: 2;
	grid-row: 1/span2;
	border-left: black solid 1px;
	border-right: black solid 1px;
	justify-self: end;
}
.intro h3{
	grid-column: 1;
	text-align: center;
}
.intro ul{
	grid-column: 1;
	list-style-type: none;
	padding: 1rem;
	font-family: "Courier New", serif;
	font-weight: bold;
}
.intro ul a:link{
	color: black;
	text-decoration: underline dotted;
	font-family: serif;
	font-weight: lighter;
}
.intro ul li:last-child{
	font-size: 1.2rem;
	font-weight: normal;
	font-family: serif;
}
.ingredients{
	list-style: square;
}
#taglist a:link{
	color: black;
}
#taglist a:visited{
	color:#b57e46
}
.edit-button-page{
text-align: right;
font-size: 1.5em;
color: #9d312e;
font-family: "Lucida Handwriting", cursive;
text-decoration: none;
}

/* Footer Layout */
footer{ 
		border-top: 2px solid white;
		color: white;
		background:  #CCE5FF;
}
@media screen and (max-width: 799px){
	body{
		width: 80%;
	}
	h1{
		font-size: 2.1rem;
		padding: 1rem;
		margin-bottom: 2rem;
	}
	.main-nav li{
		margin-top: 10px;
	}
	.main-nav{
		padding: 0;
		display: flex;
		flex-flow: column;
	}
	.searchHolder{
		justify-content: center;
	}
	nav{flex-flow: column-reverse;
	}
	main{
		margin: 0 auto;
		width: 80%;
	}	
	
}
@media screen and (max-width: 400px){
	.intro{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	border: black solid 1px;
	max-width:600px;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.14);
}
.food_pic{
	grid-column: 1/span2;
	grid-row: 2;
	border-top: black solid 1px;
	border-bottom: black solid 1px; 
	border-left: none;
	border-right: none;
}
.intro h3{
	grid-column: 1/span2;
	grid-row: 1;
	text-align: center;
}
.intro ul{
	grid-row: 3;
	grid-column: 1/span2;
	list-style-type: none;
	padding: 1rem;
	font-family: "Courier New", serif;
	font-weight: bold;
}
}
@media screen and (min-width: 800px){
	.searchHolder{
		margin-right: 40px;
	}
	.main-nav li{
		display: inline-block;
		margin-right: 1rem;
	}
	h1{
		font-size: 3rem;
		padding: 3rem;
		margin-bottom: 0.5rem;
	}
	body{
		width: 60%;
		min-width: 800px;
	}
main {
 margin: 100px auto;
	}
}